@{ ViewBag.Title = "User page"; }



<div class="container">
    <h2>User Record</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="ClearForm();">Add New User</button>
    <p></p>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>UserID</th>
                <th>UserName</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="tbody"></tbody>
    </table>
</div>
<div class="form-inline">

    <label>search User By ID: </label>
    <input type="text" id="search">

    <button type="button" class="btn btn-primary " onclick="return search();">Submit</button>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title" id="modalTitle">Add User</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="lblEmpId">User ID</label>
                        <input type="text" class="form-control" id="userId" placeholder="User ID" />
                    </div>
                    <div class="form-group">
                        <label for="lblName">User Name</label>
                        <input type="text" class="form-control" id="userName" placeholder="Name" />
                    </div>
                   
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return InsertUser();">Add</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none" onclick="return UpdateUser();">Update</button>
                <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



@section scripts{

    <script type="text/javascript">$(document).ready(function () {
            LoaduserList();

        });

        function LoaduserList() {
            $.ajax({
                url: "https://localhost:5001/Library/getusers",
                type: "GET",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (result) {
                    var html = "";
                    $.each(result, function (key, item) {
                        html += '<tr>';
                        html += '<td>' + item.userID + '</td>';
                        html += '<td>' + item.userName + '</td>';
                        html += '<td><a href="#" onclick="return GetUserById(' + item.userID + ')">Edit</a></td>';
                        html += '<td><a href="#" onclick="return DeleteUser(' + item.userID + ')">Delete</a></td>';

                        html += '</tr>';
                    });

                    $('#tbody').html(html);
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });
        };
        function search() {
            var searchuserid = $('#search').val();
            $.ajax({
                url: "https://localhost:5001/Library/userdata/" + searchuserid,
                type: "GET",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (result) {
                    var html = "";
                    $.each(result, function (key, item) {
                        html += '<tr>';
                        html += '<td>' + item.userID + '</td>';
                        html += '<td>' + item.userName + '</td>';
                        html += '<td><a href="#" onclick="return GetUserById(' + item.userID + ')">Edit</a></td>';
                        html += '<td><a href="#" onclick="return DeleteUser(' + item.userID + ')">Delete</a></td>';

                        html += '</tr>';
                    });

                    $('#tbody').html(html);
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });
        };
        function InsertUser() {

            var inputObj = {
                userID: $('#userId').val(),
                userName: $('#userName').val(),
               
            }

            $.ajax({
                url: "https://localhost:5001/Library/adduser",
                data: JSON.stringify(inputObj),
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                complete: function (jqXHR) {
                    if (jqXHR.readyState === 4) {
                        LoaduserList();

                        $('#myModal').modal('hide');
                        $('body').removeClass('modal-open');
                        $('.modal-backdrop').remove();
                    }
                },

                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });

        };
        function GetUserById(userId) {
            $.ajax({

                url: "https://localhost:5001/Library/getuserinformation/" + userId,

                type: "GET",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (result) {
                    
                    $.each(result, function (key, item) {
                        $('#userId').val(item.userID);
                        $('#userName').val(item.userName);
                       
                    });
                    $('#myModal').modal('show');
                    $('#btnUpdate').show();
                    $('#btnAdd').hide();
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            });
        }

        

        function DeleteUser(userId) {
            var res = confirm("Are you sure to delete the User record?");
            if (res) {
                $.ajax({
                    url: "https://localhost:5001/Library/removeuser/" + userId,
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json;charset=utf-8",
                    complete: function (jqXHR) {
                        if (jqXHR.readyState === 4) {
                            LoaduserList();
                        }
                    },

                    error: function (errorMessage) {
                        alert(errorMessage.responseText);
                    }
                });
            }
        }
        function UpdateUser() {

            var inputObj = {
                userID: $('#userId').val(),
                userName: $('#userName').val(),

            }

            $.ajax({

                url: "https://localhost:5001/Library/updateuser/" + $('#userId').val(),
                data: JSON.stringify(inputObj),
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                complete: function (jqXHR) {
                    if (jqXHR.readyState === 4) {
                        LoaduserList();
                        $('#myModal').modal('hide');
                        $('#btnUpdate').hide();
                        $('#btnAdd').show();
                        $('#userId').val(""),
                        $('#userName').val("")

                    }
                },

                error: function (errorMessage) {
                    alert(errorMessage.responseText);
                }
            })
        }

        function ClearForm() {
            $('#userId').val("");
            $('#userName').val("");           
        }
    </script>
}
